services:
  db:
    image: postgres:15
    container_name: autoria_postgres
    restart: always
    environment:
      POSTGRES_USER: USERNAME
      POSTGRES_PASSWORD: PASSWORD
      POSTGRES_DB: DB
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  app:
    build: .
    container_name: autoria_scraper
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    environment:
      DB_HOST: db
    volumes:
      - ./dumps:/app/dumps
    shm_size: '2gb'

volumes:
  postgres_data: